# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Env
.env

# Node / Next.js
node_modules/
.next/
out/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.log

# Databases
*.db
*.sqlite
*.sqlite3

# Local binaries
.local/
